In [1]:
# Dynamic list creation
# li = [] or li = list()
#input: Enter a range: 5
#[1,2,3,4,5]

In [4]:
li = []
n = input("enter the length of list :")
for i in range(0, int(n)):
    k=input("enter a value")
    li.append(k)

print (li)

enter the length of list :3
enter a value1
enter a value2
enter a value3
['1', '2', '3']

In [5]:
# li = [12,34,44,55,75,23,456,232]
# output: [12,34,44,456,232]
# print sum([12,34,44,456,232])

In [2]:
li = [12,34,44,55,75,23,456,232]
eli = []
for val in li:
    if val%2==0:
        eli.append(val)
print(eli)
#sm=0
#for i in eli:
#    sm+=i
#print(sm)
print(sum(eli))

[12, 34, 44, 456, 232]
778

### Remove the duplicate elements in list
ex:[11,22,11,25,36,36,11,25]

output: [11,22,25,36]

In [12]:
li = [11,22,11,25,36,36,11,25]
li2 =  []
for i in li:
    if i not in li2:
        li2.append(i)
print(li2)

[11, 22, 25, 36]

In [29]:
# print the even number in assending order and print the odd number in desending order in a list

li = [1,2,3,4,5,6,7,8,9]
evenlist = []
oddlist = []

for i in li:
    if(i%2==0):
        evenlist.append(i)
    else:
        oddlist.append(i)
#evenlist+oddlist [::-1]

[2, 4, 6, 8, 9, 7, 5, 3, 1]

In [33]:
oddlist.sort(reverse=True)

In [34]:
oddlist

[9, 7, 5, 3, 1]

In [36]:
evenlist.sort(reverse=True)

In [37]:
evenlist

[8, 6, 4, 2]

In [42]:
### to print the min and second min in a list

[10,2,23,5,60]

li = [10,2,23,5,60]
li.sort()

In [43]:
print("min value is",li[0])
print("second min value is",li[1])

min value is 2
second min value is 5